# Git
.git
.gitignore
.gitattributes

# CI/CD
.github
.gitlab-ci.yml

# Docker
docker-compose*.yml
Dockerfile

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules

# PHP
vendor

# Laravel
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# Env (will inject via docker-compose)
.env
.env.backup

# Tests
tests
phpunit.xml
.phpunit.result.cache

# Docs
README.md
CHANGELOG.md
