# Forum Service Configuration
FORUM_SERVICE_PORT=4009

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=hirify_kela

# JWT (harus sama dengan auth-service)
JWT_SECRET=hirify-kela-secret-key

# Service URLs
NOTIFICATION_SERVICE_URL=http://localhost:4008
REALTIME_SERVICE_URL=http://localhost:4010
FRONTEND_URL=http://localhost:3000
